
<table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">Date</th>
        <th scope="col">Description</th>
        <th scope="col">Amount</th>
        <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {% if transactions %}

            {% for transaction in transactions %}
                <tr id="table-item" data-toggle="modal" data-id="{{ transaction.id }}" data-userId="{{ request.user.id }}" data-target="#exampleModalCenter">
                    <td><span>{{ transaction.date }}</span></td>

                    <input type="hidden"  value="">

                    {% if request.user == transaction.sender %}

                        {% if transaction.transaction_code == 9 %}
                            <td><strong>From {{ transaction.sender_business_wallet.developer_wallet_details.get.developer_details.get.business_name }} to {{ transaction.reciever_business_wallet.developer_wallet_details.get.developer_details.get.business_name }} </strong> <span>- Send</span></td>
                        {% elif transaction.transaction_code == 17 %}
                            <td><strong>From {{ transaction.sender_business_wallet.developer_wallet_details.get.developer_details.get.business_name }} to {{ transaction.reciever_business_wallet.developer_wallet_details.get.developer_details.get.business_name }}</strong> <span>- Request</span></td>
                        {% elif transaction.transaction_code == 3 %}
                            <td><strong>Payment to {{ transaction.reciever_business_wallet.developer_wallet_details.get.developer_details.get.business_name }}</strong> <span>- Merchant payment</span></td>
                        {% elif transaction.transaction_code == 7 %}
                            <td><strong>Topup to {{ transaction.reciever_business_wallet.developer_wallet_details.get.developer_details.get.business_name }}</strong> <span>- Topup</span></td>
                        {% elif transaction.transaction_code == 10 %}
                        <td><strong>From {{ transaction.sender_business_wallet.developer_wallet_details.get.developer_details.get.business_name }} to {{ transaction.reciever_business_wallet.developer_wallet_details.get.developer_details.get.business_name }}</strong> <span>- Paid</span></td>
                        {% elif transaction.transaction_code == 11 %}
                            <td><strong>{{ transaction.reciever }}</strong> <span>- Merchant settlement</span></td>
                        {% elif transaction.transaction_code == 21 %}
                            <td><strong>Topup to {{ transaction.reciever_business_wallet.developer_wallet_details.get.developer_details.get.business_name }}</strong> <span>- Cardless Topup</span></td>
                        {% elif transaction.transaction_code == 25 %}
                            <td><strong>Payment to {{ transaction.reciever_business_wallet.developer_wallet_details.get.developer_details.get.business_name }}</strong> <span>- Merchant card payment</span></td>
                        {% endif %}

                    {% else %}

                        {% if transaction.transaction_code == 9 %}
                                <td><strong>From {{ transaction.sender_business_wallet.developer_wallet_details.get.developer_details.get.business_name  }} to {{ transaction.reciever_business_wallet.developer_wallet_details.get.developer_details.get.business_name  }}</strong> <span>- Recieved</span></td>
                        {% elif transaction.transaction_code == 17  %} 
                            <td><strong>From {{  transaction.sender_business_wallet.developer_wallet_details.get.developer_details.get.business_name }} to {{ transaction.reciever_business_wallet.developer_wallet_details.get.developer_details.get.business_name  }} </strong> <span>- Payment Request</span></td>
                        {% elif transaction.transaction_code == 10 %}
                            <td><strong>From {{ transaction.sender_business_wallet.developer_wallet_details.get.developer_details.get.business_name }} to {{ transaction.reciever_business_wallet.developer_wallet_details.get.developer_details.get.business_name }}</strong> <span>- Merchant payment</span></td>
                        {% endif %}

                    {% endif %}

                    <td><strong>NGN {{ transaction.amount }} </strong></td>

                    {% if transaction.status_code == 1 %}
                        <td><i class="ti-check cl-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Finished"></i></td>
                    {% elif transaction.status_code == 2 %}
                        <td><i class="ti-close cl-red" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cancelled"></i></td>
                    {% elif transaction.status_code == 3 %}
                        <td><i class="ti-check cl-yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Refund"></i></td>
                    {% elif transaction.status_code == 4 %}
                        <td><i class="ti-lock cl-red" data-toggle="tooltip" data-placement="top" title="" data-original-title="Hold"></i></td>
                    {% elif transaction.status_code == 5 %}
                        <td><i class="ti-flag-alt cl-yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Under Review"></i></td>
                    {% else %}
                        <td><i class="ti-flag-alt cl-yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Under Review"></i></td>
                    {% endif %}

                    
                </tr>

            {% endfor %}

        {% else %}

                    
        {% endif %}
    </tbody>
</table>