{% extends "main/layout.html" %}
{% load static %}

{% block body %}
        <!--breadcrumb area-->
        <section class="breadcrumb-area gradient-overlay" style="background: url('/static/main/assets/images/banner/3.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="site-breadcrumb">
                            <h2>ShadePay is coming soon!</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--/breadcrumb area-->
    
    
        <!--404 Section -->
        <section class="section-padding blue-bg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="section-title cl-white">
                            <h2 class="mb-20">ShadePay!</h2>
                            <p class="mb-30">ShadePay will give you the ability to connect with your clients with peace of mind. This is done by providing both buyer and seller protection over their funds. For instance, Bar bought a mobile phone from Bazz. ShadePay will ensure the delivery of the mobile phone to Bar and deliver the funds to Bazz. ShadePay will refund bars' money fully except for ShadePay charges in case of no delivery or scam. ShadePay protects you and your funds.</p>
                            <a href="{% url 'index' %}" class="bttn-small btn-fill">Back to home</a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 centered">
                        <img src="{% static '/main/assets/images/construction.png' %}" alt="">
                    </div>
                </div>
            </div>
        </section><!--/404 Section-->
{% endblock %}