{% extends "main/layout.html" %}
{% load static %}

{% block body %}

    {% if status == 0 %}

        <!--Dashboard top-->  
        <section class="section-padding-sm-2 blue-bg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-20">
                        <div class="card">
                            <div class="card-header">
                                Wallet
                            </div>
                            <div class="card-body">
                                <p>Your wallet will show here!</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><a href="{% url 'main:additional_information' %}"><i class="ti-plus"></i> Add new Wallet</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-9 col-lg-9 col-md-6 col-sm-6 mb-20">
                        <div class="card">
                            <div class="card-header">
                                Hello <strong>{{ request.user }}</strong><a href="{% url 'main:profile' %}"><i class="ti-arrow-top-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Dashboard top-->  
        
        <!--Dashboard Bottom-->  
        <section class="section-padding-sm-2 blue-bg-2">
            <div class="container">
                <div class="row justify-content-center">
                    
                    <div class="col-xl-9 col-lg-9 col-md-12 mb-20">
                        <div class="transaction-list table-responsive">
                            <h3> <span style="color: aliceblue; margin: 15%;"> Your recent transactions will show here!</span> </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </section>
        <!--Dashboard Bottom-->



    {% elif status == 1 %}


        <!--Dashboard top-->  
        <section class="section-padding-sm-2 blue-bg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-20">
                        <div class="card">
                            <div class="card-header">
                                Wallet 
                            </div>
                            <div class="card-body">
                                <p>Balance: <strong>NGN {{business_wallet.balance}}</strong></p>
                                <p>Address: <strong>{{business_wallet.address}}</strong></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-9 col-lg-9 col-md-6 col-sm-6 mb-20">
                        <div class="card">
                            <div class="card-header">
                                Hello <strong>{{ request.user }}</strong><a href="{% url 'main:profile' %}"><i class="ti-arrow-top-right"></i></a>
                            </div>
                            <div class="row card-body">
                                <div class="card-body">
                                    <a href="" data-toggle="modal" data-target="#sendModalCenter" class="bttn-small btn-fill"><i class="ti-arrow-up"></i> Send</a>
                                </div>

                                <div class="card-body">
                                    <a href="" data-toggle="modal" data-target="#requestModalCenter" class="bttn-small btn-fill"><i class="ti-shift-left"></i> Request</a>
                                </div>

                                <div class="card-body">
                                    <a href="" data-toggle="modal" data-target="#topUpModalCenter" class="bttn-small btn-fill"><i class="ti-credit-card"></i> Top up</a>
                                </div>
                                {% if user.profile.get.is_business %}
                                <div class="card-body">
                                    <a href="" class="bttn-small btn-fill"><i class="ti-wallet"></i> Cashout</a>
                                </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Dashboard top-->  

          <!--Dashboard Bottom-->  
          <section class="section-padding-sm-2 blue-bg-2">
            <div class="container">
                <div class="row justify-content-center">
                        <div class="col-xl-12 col-lg-12 col-md-12 mb-20">
                            <div class="transaction-list table-responsive">
                                {% include 'main/partials/transaction_table.html' %}
                                <div class="centered mt-30">
                                    <a href="{% url 'main:transactions' %}" class="bttn-mid btn-fill">All Transactions</a>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Dashboard Bottom-->

    {% endif %}

      <!-- Transaction Details Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="row no-gutters">
                        <div class="col-sm-5 d-flex justify-content-center blue-bg-2 py-4">
                            <div class="transaction-modal-left my-auto centered">
                                <div class="mb-30"><i class="flaticon-006-wallet"></i></div>
                                <h3 id="trnsaction_reciever" class="my-3">{{ transaction.reciever }}</h3>
                                <h4 id="transaction-amount" class="cl-white my-4">NGN {{ transaction.amount }} </h4>
                                <p id="transaction-date" class="cl-white">{{ transaction.date }}</p>
                                <div id="transaction-status" class="completed">Completed</div>

                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Transaction Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="transaction-modal-details">
                                <div class="faq-contents">
                                    <ul class="accordion">
                                        <li>
                                            <a href="">Transaction details</a>
                                            <p>
                                                <strong>From</strong> <br><span id="from">{{ transaction.sender.first_name }}  {{ transaction.sender.last_name }}</span><br><br>
                                                <strong>To</strong> <br><span id="to">{{ transaction.reciever.first_name }}  {{ transaction.reciever.last_name }}</span><br><br>
                                                <strong>Amount sent</strong> <br><span id="display-amount">{{ transaction.amount }}</span><br><br>
                                                <strong>Amount recieved</strong> <br><span id="display-amount-to-recieve">{{ transaction.amount }}</span><br><br>
                                                <strong>Transaction Charges</strong> <br><span id="description">{{ transaction.description }}</span>
                                                
                                            </p>
                                        </li>
                                        <li>
                                            <a href="">Shipping details</a>
                                            <p>
                                                <strong>Ship to</strong> <br><span id="ship-to"></span><br><br>
                                                <strong>State</strong> <br><span id="state"></span><br><br>
                                                <strong>Country</strong> <br><span id="country"></span><br><br>
                                            </p>
                                        </li>
                                        <li>
                                            <a href="">Reference details</a>
                                            <p>
                                                <strong>Transaction id</strong> <br><span id="tin"></span><br><br>
                                                <strong>Ref no</strong> <br><span id="ref"></span><br><br>
                                                <strong>From wallet</strong> <br><span id="frmw"></span><br><br>
                                                <strong>To wallet</strong> <br><span id="tow"></span><br><br>
                                            </p>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /Transaction Details Modal -->

        <!-- Top Up Modal -->
        <div class="modal fade" id="topUpModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="row no-gutters">
                        <div class="col-sm-12 d-flex justify-content-center border blue-bg-2 py-4">

                            <div class="row justify-content-center">
                                <div class="col-xl-9 col-lg-9 col-md-12 mb-20">
                                    <div class="card">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle">Top Up</h5>
                                            <button style="color: #ffffff;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <!-- <div class="col-xl-6 col-sm-6">
                                            <div class="row">
                                                <a href=""><i class="fa fa-facebook"></i></a>
                                                <a href=""><i class="fa fa-instagram"></i></a>
                                                <a href=""><i class="fa fa-twitter"></i></a>
                                                <a href=""><i class="fa fa-pinterest"></i></a>
                                            </div>
                                        </div> -->

                                        <div class="modal-header col-xl-12 col-sm-12">
                                            <div class="row justify-content-center">
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                    <div style="margin-bottom: 0;" class="single-payments">
                                                        <a href=""><img src="{% static '/main/assets/images/payments/master-visa.png' %}" alt="" srcset=""></a>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                    <div style="margin-bottom: 0;" class="single-payments">
                                                        <a href=""> <img src="{% static '/main/assets/images/payments/verve-logo.png' %}" alt="" srcset=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-body">
                                            <div class="site-form mb-30">
                                                <form action="{% url 'main:topup' %}" method="POST">
                                                    {% csrf_token %}
                                                    <div class="row">
                                                        <div class="col-xl-6 col-lg-6 col-sm-12 mb-10">
                                                            <label for="deposit-amount">Top Up Amount</label>
                                                            <input type="text" name="amount" id="deposit-amount" placeholder="500" required>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-6 col-sm-12 mb-10">
                                                            <label for="deposit-currency">Top Up Wallet</label>
                                                            <select name="deposit-wallet" class="custom-select" id="deposit-currency">
                                                                <option value="2">My Wallet</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-xl-12 col-lg-12 col-sm-12 mb-10">
                                                            <label for="paymeny-gateway">Card Type</label>
                                                            <select name="card-type" class="custom-select" id="paymeny-gateway">
                                                                <option value="mastercard">Master Card</option>
                                                                <option value="visa">Visa Card</option>
                                                                <option value="verve">Verve Card</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-xl-12 col-lg-12 col-sm-12 mb-10">
                                                            <label for="fee-generate">Card Number</label>
                                                            <input type="text" name="card-number" placeholder="XXXX-XXXX-XXXX-XXXX" id="fee-generate" required>
                                                        </div>
                                                        <div class="col-xl-3 col-lg-3 col-sm-6 mb-10">
                                                            <label for="deposit-amount">Expiary Month</label>
                                                            <select name="month" class="custom-select" id="paymeny-gateway">
                                                                <option value="01">1</option>
                                                                <option value="02">2</option>
                                                                <option value="03">3</option>
                                                                <option value="04">4</option>
                                                                <option value="05">5</option>
                                                                <option value="06">6</option>
                                                                <option value="07">7</option>
                                                                <option value="08">8</option>
                                                                <option value="09">9</option>
                                                                <option value="10">10</option>
                                                                <option value="11">11</option>
                                                                <option value="12">12</option>
                                                                <option value="12">13</option>
                                                                <option value="14">14</option>
                                                                <option value="15">15</option>
                                                                <option value="16">16</option>
                                                                <option value="17">17</option>
                                                                <option value="18">18</option>
                                                                <option value="19">19</option>
                                                                <option value="20">20</option>
                                                                <option value="21">21</option>
                                                                <option value="22">22</option>
                                                                <option value="23">23</option>
                                                                <option value="24">24</option>
                                                                <option value="25">25</option>
                                                                <option value="26">26</option>
                                                                <option value="27">27</option>
                                                                <option value="28">28</option>
                                                                <option value="29">29</option>
                                                                <option value="30">30</option>
                                                                <option value="30">31</option>
                                                            </select>
                                                        </div>

                                                        <div class="col-xl-3 col-lg-3 col-sm-6 mb-10">
                                                            <label for="deposit-amount">Expiary Year</label>
                                                            <select name="year" class="custom-select" id="paymeny-gateway">
                                                                <option value="19">2019</option>
                                                                <option value="20">2020</option>
                                                                <option value="21">2021</option>
                                                                <option value="22">2022</option>
                                                                <option value="23">2023</option>
                                                                <option value="24">2024</option>
                                                                
                                                            </select>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-6 col-sm-12 mb-10">
                                                            <label for="deposit-amount">CVV</label>
                                                            <input type="text" id="deposit-amount" name="cvv" placeholder="534" required>
                                                        </div>

                                                        <div class="col-xl-6 col-lg-6 col-sm-12">
                                                            <button type="submit" class="bttn-mid btn-fill">Top Up</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /Top Up Modal -->

          <!-- Send Funds Modal -->
          <div class="modal fade" id="sendModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="row no-gutters">
                        <div class="col-sm-12 d-flex justify-content-center border blue-bg-2 py-4">

                            <div class="row justify-content-center">
                                <div class="col-xl-9 col-lg-9 col-md-12 mb-20">
                                    <div class="card">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle">Send Funds</h5>
                                            <button style="color: #ffffff;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="card-body">
                                            <div class="site-form mb-30">
                                                <form action="{% url 'main:send' %}" method="POST">
                                                    {% csrf_token %}
                                                    <div class="row">
                                                        <div class="col-xl-12 col-lg-12 col-sm-12 mb-10">
                                                            <label for="recipient-wallet-address">Recipient Wallet Address</label>
                                                            <input type="text" name="recipient-wallet-address" placeholder="Jane Doe" id="recipient-wallet-address" required>
                                                        </div>

                                                        <div class="col-xl-12 col-lg-12 col-sm-12 mb-10">
                                                            <label for="recipient-confirmation">Recipient</label>
                                                            <input type="text" name="recipient-confirmation" readonly="readonly" value="" id="recipient-confirmation" required>
                                                        </div>

                                                        <div class="col-xl-6 col-lg-6 col-sm-12 mb-10">
                                                            <label for="send-amount">Amount</label>
                                                            <input type="text" name="send-amount" id="send-amount" placeholder="500" required>
                                                        </div>

                                                        <div class="col-xl-6 col-lg-6 col-sm-12 mb-10">
                                                            <label for="send-transaction-fee">Transaction Fee</label>
                                                            <input type="text" id="send-transaction-fee" readonly="readonly" name="cvv" value="1.25% + NGN 20" required>
                                                        </div>

                                                        <div class="col-xl-6 col-lg-6 col-sm-12">
                                                            <button type="submit" id="send-button" class="bttn-mid btn-fill">Send</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /Send Funds Modal -->


        <!-- Wallet Balance Taker -->

        {% if individual_wallet %}
        <input type="hidden" id="individual-wallet-balance" value="{{individual_wallet.balance}}">
        {% endif %}

        {% if saving_wallet %}
        <input type="hidden" id="saving-wallet-balance" value="{{saving_wallet.balance}}">
        {% endif %}

        {% if business_wallet %}
        <input type="hidden" id="business-wallet-balance" value="{{business_wallet.balance}}">
        {% endif %}

        <!-- Wallet Balance Taker -->


        <!-- Request Funds Modal -->
        <div class="modal fade" id="requestModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="row no-gutters">
                    <div class="col-sm-12 d-flex justify-content-center border blue-bg-2 py-4">

                        <div class="row justify-content-center">
                            <div class="col-xl-9 col-lg-9 col-md-12 mb-20">
                                <div class="card">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">Request Funds</h5>
                                        <button style="color: #ffffff;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="card-body">
                                        <div class="site-form mb-30">
                                            <form action="{% url 'main:request_funds' %}" method="POST">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-xl-12 col-lg-12 col-sm-12 mb-10">
                                                        <label for="request-recipient-wallet-address">Recipient Wallet Address</label>
                                                        <input type="text" name="request-recipient-wallet-address" placeholder="Jane Doe" id="request-recipient-wallet-address" required>
                                                    </div>

                                                    <div class="col-xl-12 col-lg-12 col-sm-12 mb-10">
                                                        <label for="request-recipient-confirmation">Recipient</label>
                                                        <input type="text" name="request-recipient-confirmation" readonly="readonly" value="" id="request-recipient-confirmation" required>
                                                    </div>

                                                    <div class="col-xl-12 col-lg-12 col-sm-12 mb-10">
                                                        <label for="request-amount">Amount</label>
                                                        <input type="text" name="request-amount" id="request-amount" placeholder="500" required>
                                                    </div>

                                                    <div class="col-xl-9 col-lg-9 col-sm-12">
                                                        <button type="submit" id="request-button" class="bttn-mid btn-fill">Send</button>
                                                        <a id="request-error" class="link ml-4"></a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div><!-- /Request Funds Modal -->



    <script src="{% static '/main/assets/js/page/dashboard.js' %}"></script>

{% endblock %}