{% extends "main/layout.html" %}
{% load static %}

{% block body %}
 
    <!--breadcrumb area-->
    <section class="breadcrumb-area gradient-overlay" style="background: url('/static/main/assets/images/banner/5.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-breadcrumb">
                        <h2>Fees and Pricing</h2>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/breadcrumb area-->

    <!--Fee area-->
    <section class="section-padding-2 blue-bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-title">
                        <h4><span>New</span> Transaction Fees</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-fee">
                        <i class="ti-shopping-cart"></i>
                        <h3>1.5% + NGN 20 for Local Transaction</h3>
                        <p>For local transactions, ShadePay charges 1.5% plus NGN 20 fixed price. Fees are capped at NGN 3,500</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-fee">
                        <i class="ti-money"></i>
                        <h3>4.5% + NGN 50 for International Transaction</h3>
                        <p>For international transactions, ShadePay charges 4.5% plus NGN 50 fixed price. Fees are capped at NGN 3,500</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-fee">
                        <i class="ti-link"></i>
                        <h3>NGN 500 for Linking Account</h3>
                        <p>ShadePay will charge you NGN 500 when linking your account. Funds will be added to your ShadePay wallet</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-fee">
                        <i class="ti-id-badge"></i>
                        <h3>NGN 20 for BVN Verification</h3>
                        <p>ShadePay will charge you NGN 20 for BVN verification</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-fee">
                        <i class="ti-import"></i>
                        <h3>1.5% for Internal Transaction</h3>
                        <p>ShadePay will charge you 1.5% when sending funds within ShadePay. Fees are capped at NGN 2,000</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-fee">
                        <i class="ti-export"></i>
                        <h3>NGN 20 for Withdraw</h3>
                        <p>ShadePay will charge you NGN 20 for Withdrawing funds between 1,000 and below 5,000</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-fee">
                        <i class="ti-export"></i>
                        <h3>NGN 50 for Withdraw</h3>
                        <p>ShadePay will charge you NGN 50 for Withdrawing funds between 5,001 and below 50,000</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-fee">
                        <i class="ti-export"></i>
                        <h3>NGN 100 for Withdraw</h3>
                        <p>ShadePay will charge you NGN 100 for Withdrawing funds between 50,001 and above</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-fee">
                        <i class="ti-home"></i>
                        <h3>NGN 100 for Arguments</h3>
                        <p>ShadePay will charge you NGN 100 service fee for creating an argument</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/Fee area-->

{% endblock %}


<!-- <div class="col-xl-4 col-lg-4 col-md-6">
    <div class="single-fee">
        <i class="ti-home"></i>
        <h3>Flexible rates for Enterprise</h3>
        <p>Contact ShadePay for Businesses and Enterprise pricing. Get the best price to support your business</p>
    </div>
</div> -->