{% extends "main/layout.html" %}
{% load static %}

{% block body %}
 
    <!--breadcrumb area-->
    <section class="breadcrumb-area gradient-overlay" style="background: url('/static/main/assets/images/banner/5.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-breadcrumb">
                        <h2>Fees and Pricing</h2>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/breadcrumb area-->

    <!--Fee area-->
    <section class="section-padding-2 blue-bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-title">
                        <h4><span>New</span> Transaction Fees</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-fee">
                        <i class="ti-credit-card"></i>
                        <h3>1.25% + NGN 100 for Max Transaction</h3>
                        <p>For all transactions above NGN 3,000, ShadePay charger 1.25% + NGN 100</p>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-fee">
                        <i class="ti-shopping-cart"></i>
                        <h3>1.5% Transactions below NGN 3000 </h3>
                        <p>For all transactions below NGN 3,000, ShadePay charges 1.5%.</p>
                    </div>
                </div>
      
            </div>
        </div>
    </section><!--/Fee area-->

{% endblock %}


<!-- <div class="col-xl-4 col-lg-4 col-md-6">
    <div class="single-fee">
        <i class="ti-home"></i>
        <h3>Flexible rates for Enterprise</h3>
        <p>Contact ShadePay for Businesses and Enterprise pricing. Get the best price to support your business</p>
    </div>
</div> -->