{% extends "main/layout.html" %}
{% load static %}

{% block body %}
    <!--breadcrumb area-->
    <section class="breadcrumb-area gradient-overlay" style="background: url('static/main/assets/images/banner/5.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-breadcrumb">
                        <h2>How it works</h2>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/breadcrumb area-->   

    
       <!--How It works-->
       <section class="steps-area section-padding-2 blue-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 centered">
                    <div class="section-title cl-white">
                        <h4><span>Start</span>How It works?</h4>
                        <h2>How It works</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="single-steps">
                        <div class="step-number">1</div>
                        <i class="flaticon-007-user"></i>
                        <h4>Signin account</h4>
                        <p>Sign in with your registered email and password</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="single-steps">
                        <div class="step-number">2</div>
                        <i class="flaticon-034-bank"></i>
                        <h4>Start Transaction</h4>
                        <p>Link a card or bank, and start transactions</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="single-steps">
                        <div class="step-number">3</div>
                        <i class="flaticon-038-agreement"></i>
                        <h4>Happy Earnings</h4>
                        <p>Share you email or business link with your customers to get paid</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/How It works-->    
{% endblock %}