{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="ShadePay">
    <meta name="keywords" content="shadepay, sandshade, payment, make payment, pay to nigeria, how to send money to nigeria, money, nigeria, gateway, payment gateway, cheapest payment, integration, cheap, integrate payment">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        
    <link rel="shortcut icon" href="{% static '/main/assets/images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static '/main/assets/images/favicon.ico' %}" type="image/x-icon">

    <title>ShadePay - Payment Platform</title>

    <!-- Bootstrap -->
    <link href="{% static '/main/assets/css/bootstrap.min.css' %}" rel="stylesheet">
        
    <link href="{% static '/main/assets/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static '/main/assets/css/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static '/main/assets/css/jquery-ui.css' %}" rel="stylesheet">


    <link href="{% static '/main/assets/css/animate.css' %}" rel="stylesheet">
    <link href="{% static '/main/assets/css/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static '/main/assets/css/themify-icons.css' %}" rel="stylesheet">


    <!-- Main css -->
    <link href="{% static '/main/assets/css/main.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
        <!-- Preloader -->
        <!-- <div class="preloader">
            <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div> -->
        <!--/Preloader -->
    
        <!--Header Area-->
        <header class="header-area blue-bg-2">
            <nav class="navbar navbar-expand-lg main-menu">
                <div class="container-fluid">
                    {% if user.is_authenticated %}
                    <a class="navbar-brand" href="{% url 'dashboard' %}"><img src="{% static '/main/assets/images/logo-2.png' %}" class="d-inline-block align-top" alt=""></a>
                    {% else %}
                    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static '/main/assets/images/logo-2.png' %}" class="d-inline-block align-top" alt=""></a>
                    {% endif %}
    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="menu-toggle"></span>
                    </button>
                    {% if user.is_authenticated %}
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item"><a class="nav-link" href="{% url 'dashboard' %}">Home</a></li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="{% url 'construction' %}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Wallet</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'construction' %}">Individual</a></li>
                                </ul>
                            </li>

                            <li class="nav-item"><a class="nav-link" href="{% url 'transactions' %}">Transactions</a></li>
                        </ul>
                        <div class="header-btn justify-content-end">
                            <a href="{% url 'logout' %}" class="bttn-small btn-fill">Logout</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">Why ShadePay</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'fees' %}">Fees & Pricing</a></li>
        
                            
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="{% url 'construction' %}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Developers</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'overview' %}">Overview</a></li>
                                    <li><a class="dropdown-item" href="{% url 'construction' %}">Documentation</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Support</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'how' %}">How it works</a></li>
                                    <li><a class="dropdown-item" href="{% url 'contact' %}">Contact</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="header-btn justify-content-end">
                            <!-- <a href="{% url 'login' %}" class="bttn-small btn-fill">Account Login</a> -->
                        </div>
                    </div>
                    {% endif %}
                </div>
            </nav>
        </header><!--/Header Area-->
    
    {% block body %}

    {% endblock %}


    <!--Footer Area-->
    <footer class="footer-area section-padding-2 blue-bg-2">
        <div class="container-fluid">
            {% if user.is_authenticated %}
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-12">
                    <div class="footer-logo">
                        <a href="{% url 'dashboard' %}"><img src="{% static '/main/assets/images/logo-2.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-10 col-lg-10 col-md-9 col-sm-9 col-12">
                    <div class="footer-nav">
                        <ul>
                            <li><a href="{% url 'dashboard' %}">ShadePay is there for you!</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-12">
                    <div class="footer-logo">
                        <a href="{% url 'index' %}"><img src="{% static '/main/assets/images/logo-2.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-10 col-lg-10 col-md-9 col-sm-9 col-12">
                    <div class="footer-nav">
                        <ul>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                            <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
                            <li><a href="{% url 'terms' %}">Terms and Conditions</a></li>
                            <li><a href="{% url 'protection' %}">Customer Protection Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row copyright">
                <div class="col-xl-6 col-sm-6">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2020 - 2021. All Rights Reserved.</p>
                    </div>
                </div>
                <div class="col-xl-6 col-sm-6">
                    <div class="social">
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-instagram"></i></a>
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer><!--/Footer Area-->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static '/main/assets/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static '/main/assets/js/jquery-migrate.js' %}"></script>
    <script src="{% static '/main/assets/js/jquery-ui.js' %}"></script>

    <script src="{% static '/main/assets/js/popper.js' %}"></script>
    <script src="{% static '/main/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/main/assets/js/owl.carousel.min.js' %}"></script>

    <script src="{% static '/main/assets/js/magnific-popup.min.js' %}"></script>
    <script src="{% static '/main/assets/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static '/main/assets/js/isotope.pkgd.min.js' %}"></script>
    
    <script src="{% static '/main/assets/js/waypoints.min.js' %}"></script>
    <script src="{% static '/main/assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static '/main/assets/js/wow.min.js' %}"></script>
    <script src="{% static '/main/assets/js/scrollUp.min.js' %}"></script>

    <script src="{% static '/main/assets/js/script.js' %}"></script>
</body>