{% extends "main/layout.html" %}
{% load static %}

{% block body %}
 
    <!--breadcrumb area-->
    <section class="breadcrumb-area gradient-overlay" style="background: url('static/main/assets/images/banner/5.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-breadcrumb">
                        <h2>Developer Overview</h2>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/breadcrumb area-->

    <!--Overview area-->
    <section class="section-padding-2 blue-bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-title">
                        <h4><span>New</span>ShadePay APIs</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-fee">
                        <i class="ti-wallet"></i>
                        <h3>Accept payments with ShadePay</h3>
                        <p>APIs lets you send and recieve funds using ShadePay</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-fee">
                        <i class="ti-money"></i>
                        <h3>Accept International Credit Card</h3>
                        <p>APIs lets you accept payments in United States Dollars 'USD'</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-fee">
                        <i class="ti-credit-card"></i>
                        <h3>Accept payments with Credit Card</h3>
                        <p>APIs lets you accept payments using credit and debit cards</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-fee">
                        <i class="ti-fullscreen"></i>
                        <h3>Accept payments for Enterprise</h3>
                        <p>APIs lets you send and recieve bulk payments</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-fee">
                        <i class="ti-arrow-circle-down"></i>
                        <h3>Accept Subscription payments</h3>
                        <p>APIs lets charge your users based on periodic subscriptions</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-fee">
                        <i class="ti-id-badge"></i>
                        <h3>Verify your users with Bank Verification Number 'BVN'</h3>
                        <p>APIs lets you verify your users with Bank Verification Number</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/Overview area-->

{% endblock %}
