{% extends "main/layout.html" %}
{% load static %}

{% block body %}
  
    <!--breadcrumb area-->
    <section class="breadcrumb-area gradient-overlay" style="background: url('/static/main/assets/images/banner/5.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-breadcrumb">
                        <h2>Privacy Policy</h2>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/breadcrumb area-->

    <!--Privacy Section -->
    <section class="section-padding blue-bg dots-after">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="polices-content cl-white">
                        <div class="section-title">
                            <h4><span>New</span>Rules & Policy</h4>
                        </div>
                        <p>ShadePay privacy policy discloses the privacy practice of ShadePay. All policies are with regards to the Nigerian Data Protection Regulation NDPR.</p>
                        <h5 class="mb-2">Individual Account Data Policy:</h5>
                        <p>ShadePay will collect necessary personal data for individual account creation. The data will be used for user verification, sending and receiving funds, addressing user payments, and keeping the user notified about their account activities.</p>
                        <h5 class="mb-2">Business Account Data Policy:</h5>
                        <p>ShadePay will require all business owners to submit necessary data for business verification. ShadePay will collect the data to ensure a business is legit. Furthermore, all businesses will be required to submit a working means of communication to communicate with businesses.</p>
                        <h5 class="mb-2">Transaction Data Policy:</h5>
                        <p>ShadePay will keep all Transactions securely and will not be shared with anyone. However, ShadePay will use transaction data for data analytics to understand user behaviors to build a model to protect our customers from getting scammed.</p>
                        <h5 class="mb-2">Shopping Data Policy:</h5>
                        <p>ShadePay will keep all Shopping related data securely. This data will not be shared with anyone nor used for data analytics.</p>
                        <h5 class="mb-2">Monetizing User Data Policy:</h5>
                        <p>ShadePay will not sell user data or any transaction data. However, all data collected provide our customers with a better experience and security, records, and notifications.</p>
                        <h5 class="mb-2">Data For National Security Policy:</h5>
                        <p>ShadePay will fully cooperate with the national body if required. This means ShadePay will share user data and Transaction data with the Nigerian government if the need arises.</p>
                        <h5 class="mb-2">User Agreements:</h5>
                        <p>All users must agree not to use stolen cards on ShadePay.</p>
                        <p>All users must not violate other users transaction data on the platform.</p>
                        <p>All users must agree not to use any automation tool on ShadePay, like for web scraping and such.</p>  
                        <hr>                      
                        <p class="mb-0">ShadePay privacy policy is subject to change anytime.</p>
                    </div>
                </div>

              

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <hr>
                    <br>
                    <br>
                    <div class="polices-content cl-white">
                        <div class="section-title">
                            <h4><span>New</span>Licesens</h4>
                        </div>
                        <h5 class="mb-2">Locations:</h5>
                        <p>This product includes GeoLite2 data created by MaxMind, available from <a href="https://www.maxmind.com">https://www.maxmind.com</a>. </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section><!--/Privacy Section-->

{% endblock %}


