{% extends "main/layout.html" %}
{% load static %}

{% block body %}

    {% if id == "1" %}
    <!--breadcrumb area-->
    <section class="breadcrumb-area gradient-overlay" style="background: url('/static/main/assets/images/banner/5.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-breadcrumb">
                        <h2>Shadepay Payments</h2>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/breadcrumb area-->

     <!-- Mobile App -->
     <section class="section-padding-2 blue-bg-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-12 centered">
                    <div class="section-title">
                        <h4><span>New</span>Product</h4>
                        <h2>Recieve payments with shadepay</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                    <div class="app-content">
                        <div class="single-app-content">
                            <h3>Accept payments</h3>
                            <p>This feature let's you accept payments from shadepay individual accounts. Refer to our API documentations for more.</p>
                        </div>
                        <div class="single-app-content">
                            <h3>Advantage</h3>
                            <p>Keeps your users safe from sharing card details over the internet.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                    <div class="app-content">
                        <div class="app-content-slider owl-carousel">
                            <img class="middle-img" src="{% static '/main/assets/images/api.png' %}" alt="API ANIMATION">
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                    <div class="app-content">
                        <div class="single-app-content">
                            <h3>Set up</h3>
                            <p>Create a business account and start using our APIs now. Refer to our API documentations for more.</p>
                        </div>
                        <div class="single-app-content">
                            <h3>How users pay</h3>
                            <p>Users pay when they signin and authorize payment</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- /Mobile App -->

    {% elif id == "2" %}

      <!--breadcrumb area-->
      <section class="breadcrumb-area gradient-overlay" style="background: url('/static/main/assets/images/banner/5.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-breadcrumb">
                        <h2>Card Payments</h2>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/breadcrumb area-->

     <!-- Mobile App -->
     <section class="section-padding-2 blue-bg-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-12 centered">
                    <div class="section-title">
                        <h4><span>New</span>Product</h4>
                        <h2>Recieve payments with cards</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                    <div class="app-content">
                        <div class="single-app-content">
                            <h3>Accept payments</h3>
                            <p>This feature let's you accept payments from cards. Refer to our API documentations for more.</p>
                        </div>
                        <div class="single-app-content">
                            <h3>Advantage</h3>
                            <p>Gives you a customized checkout page branded with your business name.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                    <div class="app-content">
                        <div class="app-content-slider owl-carousel">
                            <img class="middle-img" src="{% static '/main/assets/images/api.png' %}" alt="API ANIMATION">
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                    <div class="app-content">
                        <div class="single-app-content">
                            <h3>Set up</h3>
                            <p>Create a business account and start using our APIs now. Refer to our API documentations for more.</p>
                        </div>
                        <div class="single-app-content">
                            <h3>How users pay</h3>
                            <p>Users pay when they submit card details and complete the transaction process</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- /Mobile App -->

    {% elif id == "3" %}

      <!--breadcrumb area-->
      <section class="breadcrumb-area gradient-overlay" style="background: url('/static/main/assets/images/banner/5.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-breadcrumb">
                        <h2>Shadepay Billing</h2>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/breadcrumb area-->

     <!-- Mobile App -->
     <section class="section-padding-2 blue-bg-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-12 centered">
                    <div class="section-title">
                        <h4><span>New</span>Product</h4>
                        <h2>Bill your customers with shadepay</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                    <div class="app-content">
                        <div class="single-app-content">
                            <h3>Accept payments</h3>
                            <p>This feature let's you accept payments from shadepay individual accounts on subscription basis.</p>
                        </div>
                        <div class="single-app-content">
                            <h3>Advantage</h3>
                            <p>Keeps your users safe from sharing card details over the internet.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                    <div class="app-content">
                        <div class="app-content-slider owl-carousel">
                            <img class="middle-img" src="{% static '/main/assets/images/api.png' %}" alt="API ANIMATION">
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                    <div class="app-content">
                        <div class="single-app-content">
                            <h3>Set up</h3>
                            <p>Create a business account and start using our APIs now. Refer to our API documentations for more.</p>
                        </div>
                        <div class="single-app-content">
                            <h3>How users pay</h3>
                            <p>Payment is made automatically on given date, Except when user has been unsubscribed.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- /Mobile App -->

    {% elif id == "4" %}

      <!--breadcrumb area-->
      <section class="breadcrumb-area gradient-overlay" style="background: url('/static/main/assets/images/banner/5.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-breadcrumb">
                        <h2>Card Billing</h2>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/breadcrumb area-->

     <!-- Mobile App -->
     <section class="section-padding-2 blue-bg-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-12 centered">
                    <div class="section-title">
                        <h4><span>New</span>Product</h4>
                        <h2>Bill your customers with card</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                    <div class="app-content">
                        <div class="single-app-content">
                            <h3>Accept payments</h3>
                            <p>This feature let's you accept payments from your users on subscription basis using cards.</p>
                        </div>
                        <div class="single-app-content">
                            <h3>Advantage</h3>
                            <p>Gives you a customized checkout page branded with your business name.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                    <div class="app-content">
                        <div class="app-content-slider owl-carousel">
                            <img class="middle-img" src="{% static '/main/assets/images/api.png' %}" alt="API ANIMATION">
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                    <div class="app-content">
                        <div class="single-app-content">
                            <h3>Set up</h3>
                            <p>Create a business account and start using our APIs now. Refer to our API documentations for more.</p>
                        </div>
                        <div class="single-app-content">
                            <h3>How users pay</h3>
                            <p>Users pay when they submit card details and complete transaction process.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- /Mobile App -->

    {% elif id == "5" %}

      <!--breadcrumb area-->
      <section class="breadcrumb-area gradient-overlay" style="background: url('/static/main/assets/images/banner/5.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-breadcrumb">
                        <h2>Shadepay Integrate</h2>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/breadcrumb area-->

     <!-- Mobile App -->
     <section class="section-padding-2 blue-bg-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-12 centered">
                    <div class="section-title">
                        <h4><span>New</span>Product</h4>
                        <h2>Pay your customers</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                    <div class="app-content">
                        <div class="single-app-content">
                            <h3>Make payments</h3>
                            <p>This feature let's you send payments from your business wallet to your customers business wallets.</p>
                        </div>
                        <div class="single-app-content">
                            <h3>Advantage</h3>
                            <p>Gives you the ability to make payments automatically to your users.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                    <div class="app-content">
                        <div class="app-content-slider owl-carousel">
                            <img class="middle-img" src="{% static '/main/assets/images/api.png' %}" alt="API ANIMATION">
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                    <div class="app-content">
                        <div class="single-app-content">
                            <h3>Set up</h3>
                            <p>Create a business account and start using our APIs now. Refer to our API documentations for more.</p>
                        </div>
                        <div class="single-app-content">
                            <h3>How users get paid</h3>
                            <p>Users get paid when you authorize payments to their platform id.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- /Mobile App -->

    {% else %}

          <!--breadcrumb area-->
          <section class="breadcrumb-area gradient-overlay" style="background: url('/static/main/assets/images/banner/5.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="site-breadcrumb">
                            <h2>ShadePay</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--/breadcrumb area-->
    
         <!-- Mobile App -->
         <section class="section-padding-2 blue-bg-2">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-8 col-md-12 centered">
                        <div class="section-title">
                            <h4><span>New</span>Product</h4>
                            <h2>Payments With ShadePay</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                        <div class="app-content">
                            <div class="single-app-content">
                                <h3>Accept payments</h3>
                                <p>Shadepay lets you accept payments easily.</p>
                            </div>
                            <div class="single-app-content">
                                <h3>Advantage</h3>
                                <p>Easy Integration and Cheap transaction fees.</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                        <div class="app-content">
                            <div class="app-content-slider owl-carousel">
                                <img class="middle-img" src="{% static '/main/assets/images/api.png' %}" alt="API ANIMATION">
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                        <div class="app-content">
                            <div class="single-app-content">
                                <h3>Set up</h3>
                                <p>Get a business account, and start using APIs.</p>
                            </div>
                            <div class="single-app-content">
                                <h3>How users pay</h3>
                                <p>Refer to our API documentations for more.</p>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </section><!-- /Mobile App -->

    {% endif %}

{% endblock %}