{% extends "main/layout.html" %}
{% load static %}

{% block body %}
   <!--breadcrumb area-->
   <section class="breadcrumb-area gradient-overlay" style="background: url('/static/main/assets/images/banner/5.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="site-breadcrumb">
                    <h2>Customer Protection Policy</h2>
                </div>
            </div>
        </div>
    </div>
</section><!--/breadcrumb area-->

<!--Return Policy Section -->
<section class="section-padding blue-bg dots-after">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <div class="polices-content cl-white">
                    <div class="section-title">
                        <h4><span>Buyer</span>User sending funds</h4>
                    </div>
                    <p>ShadePay customer protection protects all users that make payments using ShadePay. If a user buys an item that doesn't arrive or doesn't match the description of what they paid for, ShadePay customer protection may have a way to ensure your money has been refunded, providing all conditions have been met. Please read below to find out more.</p>
                    <h5 class="mb-2">What shadepay customer protection covers for buyers :</h5>
                    <p>ShadePay customer protection covers all physical items.</p>
                    <h5 class="mb-2">What shadepay customer protection does not covers for buyers :</h5>
                    <p>ShadePay customer protection does not cover all kinds of Services </p>
                    <h5 class="mb-2">How to go about refunds:</h5>
                    <ul>
                        <li>The user has to open an Argument for a particular transaction within 90 days of payment.</li>
                        <li>Users can only open one Argument for each transaction. </li>
                        <li>Opening an Argument attracts a service fee of 2% + NGN 100 of the transaction fee. </li>
                        <li>Payment has to be in full. </li>
                        <li>If the buyer and seller didn't agree on one decision within ten '10' working days, the ShadePay team would take over. </li>
                    </ul>
                    <p></p>
                    <h5 class="mb-2">Samples:</h5>
                    <ul>
                        <li>Seller shipped a different item than the one you paid for</li>
                        <li>The buyer did not receive an item</li>
                    </ul>
                    <p></p>
                    <p class="mb-0">ShadePay got you covered!</p>
                </div>
            </div>


            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <div class="polices-content cl-white">
                    <div class="section-title">
                        <h4><span>Seller</span>User recieving funds</h4>
                    </div>
                    <p>ShadePay customer protection protects all sellers that use ShadePay to receive payments to ensure their clients' peace of mind. If your client claims not to receive an item you shipped or received an unauthorized payment. ShadePay customer protection may have a way to ensure your money has been paid, providing all conditions have been met.</p>
                    <h5 class="mb-2">What shadepay customer protection covers for sellers:</h5>
                    <p>ShadePay customer protection covers all physical items and services </p>
                    <h5 class="mb-2">What shadepay customer protection does not covers for sellers :</h5>
                    <ul>
                        <li>Items sold with different descriptions.</li>
                        <li>Items delivered in person</li>
                        <li>Items delivered to a different address than that on ShadePay shipping address.</li>
                        <li>Fake items</li>
                        <li>Licenses</li>
                        <li>Investments</li>
                        <li>Financial products</li>
                        <li>Insurance</li>
                        <li>Gift cards and their likes</li>
                        <li>Cryptocurrencies and their likes</li>
                    </ul>
                    <p></p>
                    <h5 class="mb-2">What ShadePay will require to confirm your protection:</h5>
                    <ul>
                        <li>Delivery confirmation</li>
                        <li>Delivery service tracking number or delivery service contact number</li>
                        <li>Date and Email</li>
                        <li>Proof of service delivery</li>
                        <li>Transaction number</li>
                    </ul>
                    <p></p>
                    
                    <p class="mb-0">ShadePay got you covered!</p>
                </div>
            </div>
        </div>
    </div>
</section><!--/Return Policy Section-->
{% endblock %}