{% extends "main/layout.html" %}
{% load static %}

{% block body %}
  
    <!--breadcrumb area-->
    <section class="breadcrumb-area gradient-overlay" style="background: url('/static/main/assets/images/banner/5.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-breadcrumb">
                        <h2>Terms and Conditions</h2>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/breadcrumb area-->

    <!--Terms & Conditions Section -->
    <section class="section-padding blue-bg dots-after">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="polices-content cl-white">
                        <div class="section-title">
                            <h4><span>New</span>Terms & Conditions</h4>
                        </div>
                        <p>ShadePay terms and conditions are the set of regulations to which all users must agree before using our services.</p>
                        <h5 class="mb-2">Governing Law:</h5>
                        <p>These terms and conditions are governed by the laws of the Federal Republic of Nigeria.</p>
                        <h5 class="mb-2">ShadePay Abuse:</h5>
                        <p>ShadePay will not tolerate harmful usage of ShadePay services. This includes using ShadePay for fraud, money laundering, and all other abuses related to financial institutions.</p>
                        <h5 class="mb-2">ShadePay Property:</h5>
                        <p>ShadePay Site, Original Content, Features, Functionality, and Business Model are owned by "SANDSHADE LTD" and are protected by Copyright Act, Patent Act, Trademark Act, and Design Act of the Nigerian federation.</p>
                        <h5 class="mb-2">Account Termination:</h5>
                        <p>ShadePay allows users to terminate their account from their dashboard if they no longer accept the terms and conditions. Also, Accounts found abusing ShadePay Services will be held and closed after 180 days until proven otherwise with the law officials' involvement.</p>
                        <h5 class="mb-2">Limitations:</h5>
                        <p>ShadePay allows NGN 500.00 as the minimum amount and NGN 1,000,000.00 maximum amount per transaction. However, ShadePay will not be liable for any transaction that takes place within your account. In the case of fraud, the User is advised to create a new argument. </p>
                        <h5 class="mb-2">Fees:</h5>
                        <p>ShadePay service fees are applied on the receiver's end.</p>
                        <h5 class="mb-2">Refund:</h5>
                        <p>ShadePay shall not bear the loss for any fraudulent transaction. However, ShadePay will ensure sellers refund buyers if the business did not go well.</p>
                        <p class="mb-0">ShadePay Terms and Conditions are subject to change at any time.</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/Terms & Conditions Section-->
{% endblock %}