{% extends 'main/layout.html' %}
{% load static %}

{% block body %}


          <!--Dashboard Bottom-->  
          <section class="section-padding-sm-2 blue-bg-2">
            <div class="container">
                <div class="row justify-content-center">

                        <div class="col-xl-9 col-lg-9 col-md-12 mb-20">
                            <div class="transaction-list table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Wallet</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        {% if transactions %}

                                            {% for transaction in transactions %}
                                                <tr id="table-item" data-toggle="modal" data-id="{{ transaction.id }}" data-userId="{{ request.user.id }}" data-target="#exampleModalCenter">
                                                    <td><span>{{ transaction.date }}</span></td>

                                                    <input type="hidden"  value="">

                                                    {% if request.user == transaction.sender %}

                                                        {% if transaction.transaction_code == 1 or transaction.transaction_code == 13 or transaction.transaction_code == 14 or transaction.transaction_code == 15 %}
                                                            <td><strong>{{ transaction.reciever }}</strong> <span>- Send</span></td>
                                                        {% elif transaction.transaction_code == 2 or transaction.transaction_code == 16 or transaction.transaction_code == 17 or transaction.transaction_code == 18 %}
                                                            <td><strong>{{ transaction.reciever }}</strong> <span>- Request</span></td>
                                                        {% elif transaction.transaction_code == 3 %}
                                                            <td><strong>{{ transaction.reciever }}</strong> <span>- Card pay</span></td>
                                                        {% elif transaction.transaction_code == 4 %}
                                                            <td><strong>{{ transaction.reciever }}</strong> <span>- Bank pay</span></td>
                                                        {% elif transaction.transaction_code == 5 or transaction.transaction_code == 6 or transaction.transaction_code == 7 %}
                                                            <td><strong>{{ transaction.reciever }}</strong> <span>- Deposit</span></td>
                                                        {% elif transaction.transaction_code == 8 or transaction.transaction_code == 9 %}
                                                            <td><strong>{{ transaction.reciever }}</strong> <span>- Pay</span></td>
                                                        {% elif transaction.transaction_code == 10 or transaction.transaction_code == 11 or transaction.transaction_code == 12 %}
                                                            <td><strong>{{ transaction.reciever }}</strong> <span>- Withdraw</span></td>
                                                        {% endif %}

                                                    {% else %}

                                                        {% if transaction.transaction_code == 1 or transaction.transaction_code == 13 or transaction.transaction_code == 14 or transaction.transaction_code == 15 %}
                                                            <td><strong>{{ transaction.sender }}</strong> <span>- Recieved</span></td>
                                                        {% elif transaction.transaction_code == 2 or transaction.transaction_code == 16 or transaction.transaction_code == 17 or transaction.transaction_code == 18 %}
                                                            <td><strong>{{ transaction.sender }}</strong> <span>- Payment Request</span></td>
                                                        {% elif transaction.transaction_code == 3 %}
                                                            <td><strong>{{ transaction.sender }}</strong> <span>- Recieved </span></td>
                                                        {% elif transaction.transaction_code == 4 %}
                                                            <td><strong>{{ transaction.sender }}</strong> <span>- Recieved</span></td>
                                                        {% elif transaction.transaction_code == 5 or transaction.transaction_code == 6 or transaction.transaction_code == 7 %}
                                                            <td><strong>{{ transaction.sender }}</strong> <span>- Deposit</span></td>
                                                        {% elif transaction.transaction_code == 8 or transaction.transaction_code == 9 %}
                                                            <td><strong>{{ transaction.sender }}</strong> <span>- Pay</span></td>
                                                        {% endif %}

                                                    {% endif %}

                                                    {% if request.user == transaction.sender %}
                                                    <!-- Take into consideration request transactions -->
                                                    <td><strong>- NGN {{ transaction.amount }} </strong></td>
                                                    {% else %}
                                                    <td><strong>+ NGN {{ transaction.amount }} </strong></td>
                                                    {% endif %}

                                                    {% if transaction.status_code == 1 %}
                                                        <td><i class="ti-check cl-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Finished"></i></td>
                                                    {% elif transaction.status_code == 2 %}
                                                        <td><i class="ti-close cl-red" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cancelled"></i></td>
                                                    {% elif transaction.status_code == 3 %}
                                                        <td><i class="ti-check cl-yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Refund"></i></td>
                                                    {% elif transaction.status_code == 4 %}
                                                        <td><i class="ti-lock cl-red" data-toggle="tooltip" data-placement="top" title="" data-original-title="Hold"></i></td>
                                                    {% elif transaction.status_code == 5 %}
                                                        <td><i class="ti-flag-alt cl-yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Under Review"></i></td>
                                                    {% else %}
                                                        <td><i class="ti-flag-alt cl-yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Under Review"></i></td>
                                                    {% endif %}

                                                    {% if request.user == transaction.sender %}

                                                        {% if transaction.transaction_code == 1 %}

                                                        <td><strong class="cl-primary">{{ transaction.sender_individual_wallet.address }}</strong></td>
                                       
                                                        {% elif transaction.transaction_code == 2 %}
                                                            
                                                        <td><strong class="cl-primary">{{ transaction.sender_individual_wallet.address }}</strong></td>

                                                        {% elif transaction.transaction_code == 3 %}

                                                        <td><strong class="cl-primary">{{ transaction.sender_card.card_type }}</strong></td>
                                                           
                                                        {% elif transaction.transaction_code == 4 %}

                                                        <td><strong class="cl-primary">{{ transaction.sender_bank.bank }}</strong></td>
                                                          
                                                        {% elif transaction.transaction_code == 5 %}

                                                        <td><strong class="cl-primary">{{ transaction.sender_individual_wallet.address }}</strong></td>

                                                        {% elif transaction.transaction_code == 6 %}

                                                        <td><strong class="cl-primary">{{ transaction.sender_saving_wallet.address }}</strong></td>

                                                        {% elif transaction.transaction_code == 7 %}

                                                        <td><strong class="cl-primary">{{ transaction.sender_business_wallet.address }}</strong></td>
                                                           
                                                        {% elif transaction.transaction_code == 8 %}

                                                        <td><strong class="cl-primary">{{ transaction.sender_individual_wallet.address }}</strong></td>

                                                        {% elif transaction.transaction_code == 9 %}

                                                        <td><strong class="cl-primary">{{ transaction.sender_business_wallet.address }}</strong></td>
                                                            
                                                        {% elif transaction.transaction_code == 10 %}

                                                        <td><strong class="cl-primary">{{ transaction.sender_saving_wallet.address }}</strong></td>

                                                        {% elif transaction.transaction_code == 11 %}

                                                        <td><strong class="cl-primary">{{ transaction.sender_business_wallet.address }}</strong></td>

                                                        {% elif transaction.transaction_code == 12 %}

                                                        <td><strong class="cl-primary">{{ transaction.sender_individual_wallet.address }}</strong></td>

                                                        {% elif transaction.transaction_code == 13 %}

                                                        <td><strong class="cl-primary">{{ transaction.sender_saving_wallet.address }}</strong></td>

                                                        {% elif transaction.transaction_code == 14 %}

                                                        <td><strong class="cl-primary">{{ transaction.sender_business_wallet.address }}</strong></td>

                                                        {% elif transaction.transaction_code == 15 %}

                                                        <td><strong class="cl-primary">{{ transaction.sender_business_wallet.address }}</strong></td>

                                                        {% elif transaction.transaction_code == 16 %}

                                                        <td><strong class="cl-primary">{{ transaction.sender_individual_wallet.address }}</strong></td>

                                                        {% elif transaction.transaction_code == 17 %}

                                                        <td><strong class="cl-primary">{{ transaction.sender_business_wallet.address }}</strong></td>

                                                        {% elif transaction.transaction_code == 18 %}

                                                        <td><strong class="cl-primary">{{ transaction.sender_business_wallet.address }}</strong></td>
                                                            
                                                        {% endif %}

                                                    {% else %}

                                                        {% if transaction.transaction_code == 1 %}

                                                        <td><strong class="cl-primary">{{ transaction.reciever_individual_wallet.address }}</strong></td>
                                       
                                                        {% elif transaction.transaction_code == 2 %}

                                                        <td><strong class="cl-primary">{{ transaction.reciever_individual_wallet.address }}</strong></td>
                                                            
                                                        {% elif transaction.transaction_code == 3 %}

                                                        <td><strong class="cl-primary">{{ transaction.reciever_business_wallet.address }}</strong></td>
                                                           
                                                        {% elif transaction.transaction_code == 4 %}

                                                        <td><strong class="cl-primary">{{ transaction.reciever_business_wallet.address }}</strong></td>
                                                          
                                                        {% elif transaction.transaction_code == 8 %}

                                                        <td><strong class="cl-primary">{{ transaction.reciever_business_wallet.address }}</strong></td>

                                                        {% elif transaction.transaction_code == 9 %}

                                                        <td><strong class="cl-primary">{{ transaction.reciever_business_wallet.address }}</strong></td>

                                                        {% elif transaction.transaction_code == 13 %}

                                                        <td><strong class="cl-primary">{{ transaction.reciever_saving_wallet.address }}</strong></td>

                                                        {% elif transaction.transaction_code == 14 %}

                                                        <td><strong class="cl-primary">{{ transaction.reciever_saving_wallet.address }}</strong></td>

                                                        {% elif transaction.transaction_code == 15 %}

                                                        <td><strong class="cl-primary">{{ transaction.reciever_individual_wallet.address }}</strong></td>

                                                        {% elif transaction.transaction_code == 16 %}

                                                        <td><strong class="cl-primary">{{ transaction.reciever_business_wallet.address }}</strong></td>

                                                        {% elif transaction.transaction_code == 17 %}

                                                        <td><strong class="cl-primary">{{ transaction.reciever_business_wallet.address }}</strong></td>

                                                        {% elif transaction.transaction_code == 18 %}

                                                        <td><strong class="cl-primary">{{ transaction.reciever_individual_wallet.address }}</strong></td>
                                                            
                                                        {% endif %}


                                                    {% endif %}

                                                </tr>

                                            {% endfor %}

                                        {% else %}
                    
                                                
                                                    
                                        {% endif %}
                                    </tbody>
                                </table>

                                <div class="mt-20">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-center">
                                            {% if transactions.has_previous %}

                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ transactions.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
                                            </li>

                                            <li class="page-item"><a class="page-link" href="?page={{ transactions.previous_page_number }}">{{ transactions.previous_page_number }}</a></li>

                                            {% else %}

                                            <li class="page-item disabled">
                                                <a class="page-link" href="" tabindex="-1" aria-disabled="true">Previous</a>
                                            </li>

                                            {% endif %}
                                            
                                            <li class="page-item active"><a class="page-link" href="?page={{ transactions.number }}">{{ transactions.number }}</a></li>
                                            
                                            {% if transactions.has_next %}
                                            
                                            <li class="page-item"><a class="page-link" href="?page={{ transactions.next_page_number }}">{{ transactions.next_page_number }}</a></li>

                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ transactions.next_page_number }}">Next</a>
                                            </li>

                                            {% else %}

                                            <li class="page-item disabled">
                                                <a class="page-link" href="" aria-disabled="true">Next</a>
                                            </li>

                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>

                              <!-- Modal Here Before -->


                                <!-- Transaction Details Modal -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="row no-gutters">
                                                <div class="col-sm-5 d-flex justify-content-center blue-bg-2 py-4">
                                                    <div class="transaction-modal-left my-auto centered">
                                                        <div class="mb-30"><i class="flaticon-006-wallet"></i></div>
                                                        <h3 id="trnsaction_reciever" class="my-3">{{ transaction.reciever }}</h3>
                                                        <h4 id="transaction-amount" class="cl-white my-4">NGN {{ transaction.amount }} </h4>
                                                        <p id="transaction-date" class="cl-white">{{ transaction.date }}</p>
                                                        <div id="transaction-status" class="completed">Completed</div>

                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalCenterTitle">Transaction Details</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="transaction-modal-details">
                                                        <div class="faq-contents">
                                                            <ul class="accordion">
                                                                <li>
                                                                    <a href="">Transaction details</a>
                                                                    <p>
                                                                        <strong>From</strong> <br><span id="from"></span><br><br>
                                                                        <strong>To</strong> <br><span id="to"></span><br><br>
                                                                        <strong>Amount</strong> <br><span id="display-amount"></span><br><br>
                                                                        <strong>Description</strong> <br><span id="description"></span>
                                                                        
                                                                    </p>
                                                                </li>
                                                                <li>
                                                                    <a href="">Reference details</a>
                                                                    <p>
                                                                        <strong>TID</strong> <br><span id="tin"></span><br><br>
                                                                        <strong>REF NO</strong> <br><span id="reference"></span><br><br>
                                                                    </p>
                                                                </li>
                                                                
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /Transaction Details Modal -->
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Dashboard Bottom-->


<script src="{% static '/main/assets/js/page/transactions.js' %}"></script>

{% endblock %}