{% extends "main/layout.html" %}
{% load static %}

{% block body %}

    {% if id == "1" %}
       <!--breadcrumb area-->
       <section class="breadcrumb-area gradient-overlay" style="background: url('assets/images/banner/3.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-breadcrumb">
                        <h2>Update Contact</h2>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/breadcrumb area-->

    <!--Update Contact Section-->
    <section class="section-padding-2 blue-bg shaded-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 centered">
                    <div class="section-title cl-white">
                        <h4><span>Profile</span>Contact Details</h4>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                    <div class="site-form mb-30">
                        <form action="{% url 'update-profile' 1 %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-sm-12">
                                    <input type="text" name="phone" placeholder="Phone" value="{{mobile}}" required>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-sm-12">
                                    <input type="email" name="email" placeholder="Email" value="{{email}}" required>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-sm-12">
                                    <button type="submit" class="bttn-mid btn-fill">Update Contact</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/Update Contact Section-->

    {% elif id == "2" %}

     <!--breadcrumb area-->
     <section class="breadcrumb-area gradient-overlay" style="background: url('assets/images/banner/3.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-breadcrumb">
                        <h2>Update Billing Information</h2>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/breadcrumb area-->

    <!--Update Contact Section-->
    <section class="section-padding-2 blue-bg shaded-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 centered">
                    <div class="section-title cl-white">
                        <h4><span>Profile</span>Billinng and Shipping Information</h4>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                    <div class="site-form mb-30">
                        <form action="{% url 'update-profile' 2 %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-sm-12">
                                    <input type="text" name="billing" placeholder="Billing Address" value="{{billing}}" required>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-sm-12">
                                    <input type="text" name="shipping" placeholder="Shipping Address" value="{{shipping}}" required>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-sm-12">
                                    <button type="submit" class="bttn-mid btn-fill">Update Billing Information</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/Update Contact Section-->

    {% elif id == "3" %}

     <!--breadcrumb area-->
     <section class="breadcrumb-area gradient-overlay" style="background: url('assets/images/banner/3.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-breadcrumb">
                        <h2>Update Verification Information</h2>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/breadcrumb area-->

    <!--Update Contact Section-->
    <section class="section-padding-2 blue-bg shaded-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 centered">
                    <div class="section-title cl-white">
                        <h4><span>Profile</span>Verification Information</h4>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                    <div class="site-form mb-30">
                        <form action="{% url 'update-profile' 3 %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-sm-12">
                                    <input type="text" name="nin" placeholder="National ID" value="{{nin}}" required>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-sm-12">
                                    <button type="submit" class="bttn-mid btn-fill">Update Nin</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>
    </section><!--/Update Contact Section-->

    {% endif %}

{% endblock %}