{% extends "main/layout.html" %}
{% load static %}

{% block body %}

    {% if id == "1" %}
        <!--breadcrumb area-->
        <section class="breadcrumb-area gradient-overlay" style="background: url('/static/main/assets/images/banner/5.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="site-breadcrumb">
                            <h2>Use case for Savings</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--/breadcrumb area-->

         <!-- Mobile App -->
     <section class="section-padding-2 blue-bg-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-12 centered">
                    <div class="section-title">
                        <h4><span>New</span>Shadepay Use case</h4>
                        <h2>Shadepay Saving Wallet</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                    <div class="app-content">
                        <div class="single-app-content">
                            <h3>User Story</h3>
                            <p>User has a wedding or  other event that is coming up soon? User has to pay school fees? However you user is finding it difficult to save money up for the event?</p>
                        </div>
                        <div class="single-app-content">
                            <h3>Accept Payments</h3>
                            <p>Shadepay gives you the power to accept payments in different forms, either from your friends and family by sharing your wallet address, or you can share your shadepay link.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                    <div class="app-content">
                        <div class="app-content-slider owl-carousel">
                            <img class="middle-img" src="{% static '/main/assets/images/usage.png' %}" alt="API ANIMATION">
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                    <div class="app-content">
                        <div class="single-app-content">
                            <h3>Solution Plans</h3>
                            <p>Shadepay provides you with a solution. Create a <strong>saving wallet</strong>, Set a date for when you want to withdraw your funds, and you can only withdraw your funds when it is time.</p>
                        </div>
                        <div class="single-app-content">
                            <h3>Withdraw</h3>
                            <p>Shadepay lets you withdraw your funds when the time you set for yourself is due. However in case of an emergency, be sure to reachout to shadepay support to release your funds for you to withdraw.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- /Mobile App -->

    {% elif id == "2" %}

            <!--breadcrumb area-->
            <section class="breadcrumb-area gradient-overlay" style="background: url('/static/main/assets/images/banner/5.jpg');">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="site-breadcrumb">
                                <h2>Use case for Online Business</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!--/breadcrumb area-->
    
             <!-- Mobile App -->
         <section class="section-padding-2 blue-bg-2">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-8 col-md-12 centered">
                        <div class="section-title">
                            <h4><span>New</span>Shadepay Use case</h4>
                            <h2>Shadepay Business Wallet</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                        <div class="app-content">
                            <div class="single-app-content">
                                <h3>User Story</h3>
                                <p>User has a business on WhatsApp, Instagram, Twitter or any other online platform? User always getting calls to confirm payements? User always sharing account detalis?</p>
                            </div>
                            <div class="single-app-content">
                                <h3>Advantages</h3>
                                <p>Shadepay gives you the power to organize your payments for each product, Furthermore, Shadepay gives you the ability to recieve payment from shadepay accounts.</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                        <div class="app-content">
                            <div class="app-content-slider owl-carousel">
                                <img class="middle-img" src="{% static '/main/assets/images/usage.png' %}" alt="API ANIMATION">
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                        <div class="app-content">
                            <div class="single-app-content">
                                <h3>Solution Plans</h3>
                                <p>Shadepay provides you with a solution. Create a <strong>business wallet</strong>, Get your payment link and use it on your profile, anyone can easily click on the link and pay you.</p>
                            </div>
                            <div class="single-app-content">
                                <h3>More</h3>
                                <p>Shadepay business wallet gives you the ability to automate your payements with our APIs. In addition, Shadepay lets you withdraw your funds whenever you want.</p>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </section><!-- /Mobile App -->

    {% elif id == "3" %}

                <!--breadcrumb area-->
                <section class="breadcrumb-area gradient-overlay" style="background: url('/static/main/assets/images/banner/5.jpg');">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="site-breadcrumb">
                                    <h2>Use case for E-Commerce </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </section><!--/breadcrumb area-->
        
                 <!-- Mobile App -->
             <section class="section-padding-2 blue-bg-2">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-8 col-md-12 centered">
                            <div class="section-title">
                                <h4><span>New</span>Shadepay Use case</h4>
                                <h2>Shadepay Business Wallet</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                            <div class="app-content">
                                <div class="single-app-content">
                                    <h3>User Story</h3>
                                    <p>Are you an SME? Are you an entreprenuer, developer and want to start your own e-commerce and don't know how or where to process your payments? Well, read more.</p>
                                </div>
                                <div class="single-app-content">
                                    <h3>Advantages</h3>
                                    <p>Shadepay will provide you with a customized checkout page branded with your business name, In addition, Shadepay payments keeps your users safe from sharing card details over the internet.</p>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                            <div class="app-content">
                                <div class="app-content-slider owl-carousel">
                                    <img class="middle-img" src="{% static '/main/assets/images/usage.png' %}" alt="API ANIMATION">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                            <div class="app-content">
                                <div class="single-app-content">
                                    <h3>Solution Plans</h3>
                                    <p>Shadepay provides you with a solution. Create a <strong>business wallet</strong>, Use any of our features to accept payments easily, <strong>CARD or SHADEPAY payments</strong>.</p>
                                </div>
                                <div class="single-app-content">
                                    <h3>More</h3>
                                    <p>Shadepay business wallet gives you the ability to automate your payements with our APIs. In addition, Shadepay lets you withdraw your funds whenever you want.</p>
                                </div>
                            </div>
                        </div>
                    </div>
        
                </div>
            </section><!-- /Mobile App -->

    {% elif id == "4" %}

                    <!--breadcrumb area-->
                    <section class="breadcrumb-area gradient-overlay" style="background: url('/static/main/assets/images/banner/5.jpg');">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="site-breadcrumb">
                                        <h2>Use case for Platforms </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section><!--/breadcrumb area-->
            
                     <!-- Mobile App -->
                 <section class="section-padding-2 blue-bg-2">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-8 col-lg-8 col-md-12 centered">
                                <div class="section-title">
                                    <h4><span>New</span>Shadepay Use case</h4>
                                    <h2>Shadepay Business Wallet</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                                <div class="app-content">
                                    <div class="single-app-content">
                                        <h3>User Story</h3>
                                        <p>Do you own your onw platform where you want your users to benefit and get support? Do you want to pay your users and finding bank transfers difficult? Well, read more.</p>
                                    </div>
                                    <div class="single-app-content">
                                        <h3>Advantages</h3>
                                        <p>Shadepay will provide you with an easy way to interact with your users, accept support for your users, Our APIs let you transfer funds from your wallet without any limitations.</p>
                                    </div>
                                </div>
                            </div>
            
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                                <div class="app-content">
                                    <div class="app-content-slider owl-carousel">
                                        <img class="middle-img" src="{% static '/main/assets/images/usage.png' %}" alt="API ANIMATION">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                                <div class="app-content">
                                    <div class="single-app-content">
                                        <h3>Solution Plans</h3>
                                        <p>Shadepay provides you with a solution. Create a <strong>business wallet</strong>, Use our feature <strong>SHADEPAY INTEGRATE</strong> to make payments to other shadepay wallets easily.</p>
                                    </div>
                                    <div class="single-app-content">
                                        <h3>More</h3>
                                        <p>Shadepay business wallet gives you the ability to automate your payements with our APIs. In addition, Shadepay lets you withdraw your funds whenever you want.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                    </div>
                </section><!-- /Mobile App -->

    {% elif id == "5" %}

                        <!--breadcrumb area-->
                        <section class="breadcrumb-area gradient-overlay" style="background: url('/static/main/assets/images/banner/5.jpg');">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="site-breadcrumb">
                                            <h2>Use case for SaaS </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section><!--/breadcrumb area-->
                
                         <!-- Mobile App -->
                     <section class="section-padding-2 blue-bg-2">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-xl-8 col-lg-8 col-md-12 centered">
                                    <div class="section-title">
                                        <h4><span>New</span>Shadepay Use case</h4>
                                        <h2>Shadepay Business Wallet</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                                    <div class="app-content">
                                        <div class="single-app-content">
                                            <h3>User Story</h3>
                                            <p>Do you own a Software as a Service business? Any other business like SaaS, and finding it difficult to get payments easily and on time? Well, read more.</p>
                                        </div>
                                        <div class="single-app-content">
                                            <h3>Advantages</h3>
                                            <p>Shadepay will provide you with an easy way to interact with your users, you can bill your users automatically with shadepay billing or by their authorization.</p>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                                    <div class="app-content">
                                        <div class="app-content-slider owl-carousel">
                                            <img class="middle-img" src="{% static '/main/assets/images/usage.png' %}" alt="API ANIMATION">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                                    <div class="app-content">
                                        <div class="single-app-content">
                                            <h3>Solution Plans</h3>
                                            <p>Shadepay provides you with a solution. Create a <strong>business wallet</strong>, Use either of our features <strong>CARD or SHADEPAY BILLING</strong> to bill your users accordingly.</p>
                                        </div>
                                        <div class="single-app-content">
                                            <h3>More</h3>
                                            <p>Shadepay business wallet gives you the ability to automate your payements with our APIs. In addition, Shadepay lets you withdraw your funds whenever you want.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                        </div>
                    </section><!-- /Mobile App -->

    
    {% elif id == "6" %}

        <!--breadcrumb area-->
        <section class="breadcrumb-area gradient-overlay" style="background: url('/static/main/assets/images/banner/5.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="site-breadcrumb">
                            <h2>Use case for Fintech </h2>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--/breadcrumb area-->

        <!-- Mobile App -->
        <section class="section-padding-2 blue-bg-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-12 centered">
                    <div class="section-title">
                        <h4><span>New</span>Shadepay Use case</h4>
                        <h2>Shadepay Business Wallet</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                    <div class="app-content">
                        <div class="single-app-content">
                            <h3>User Story</h3>
                            <p>Do you own a Financial Technology Company? Do you want to start your fintech or any of financial services, and don't know how to process the funds? Well, read more.</p>
                        </div>
                        <div class="single-app-content">
                            <h3>Advantages</h3>
                            <p>Shadepay will provide you with a customized checkout page branded with your business name, In addition, Shadepay gives you an easy way to start recieving and sending funds</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                    <div class="app-content">
                        <div class="app-content-slider owl-carousel">
                            <img class="middle-img" src="{% static '/main/assets/images/usage.png' %}" alt="API ANIMATION">
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                    <div class="app-content">
                        <div class="single-app-content">
                            <h3>Solution Plans</h3>
                            <p>Shadepay provides you with a solution. Create a <strong>business wallet</strong>, Use our feature <strong>CARD PAYMENT</strong> to process your card payments.</p>
                        </div>
                        <div class="single-app-content">
                            <h3>More</h3>
                            <p>Shadepay business wallet gives you the ability to automate your payements with our APIs. In addition, Shadepay lets you withdraw your funds whenever you want.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </section><!-- /Mobile App -->

    

    {% else %}

    <!--breadcrumb area-->
    <section class="breadcrumb-area gradient-overlay" style="background: url('/static/main/assets/images/banner/5.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-breadcrumb">
                        <h2>Use case for Others</h2>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/breadcrumb area-->

     <!-- Mobile App -->
 <section class="section-padding-2 blue-bg-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8 col-md-12 centered">
                <div class="section-title">
                    <h4><span>New</span>Shadepay Use case</h4>
                    <h2>Other Shadepay Products Uses</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                <div class="app-content">
                    <div class="single-app-content">
                        <h3>User Story</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere elit in quam vehicula eleifend. Duis condimentum ante id purus bibendum, et pretium ligula auctor.</p>
                    </div>
                    <div class="single-app-content">
                        <h3>Accept Payments</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere elit in quam vehicula eleifend. Duis condimentum ante id purus bibendum, et pretium ligula auctor.</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                <div class="app-content">
                    <div class="app-content-slider owl-carousel">
                        <img class="middle-img" src="{% static '/main/assets/images/usage.png' %}" alt="API ANIMATION">
                    </div>
                </div>
            </div>
            
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                <div class="app-content">
                    <div class="single-app-content">
                        <h3>Saving Plans</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere elit in quam vehicula eleifend. Duis condimentum ante id purus bibendum, et pretium ligula auctor.</p>
                    </div>
                    <div class="single-app-content">
                        <h3>Withdraw</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere elit in quam vehicula eleifend. Duis condimentum ante id purus bibendum, et pretium ligula auctor.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- /Mobile App -->

    
    {% endif %}

{% endblock %}