{% extends "main/layout.html" %}
{% load static %}

{% block body %}

  
    <!--breadcrumb area-->
    <section class="breadcrumb-area gradient-overlay" style="background: url('/static/main/assets/images/banner/5.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-breadcrumb">
                        <h2>Wallets</h2>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/breadcrumb area-->

     <!--Call to action-->
     <section class="section-padding-2 blue-bg dots-before">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-6 mb-30">
                    <div class="call-to-action">
                        <h4>Want to get started?</h4>
                        <h1>Individual<span>wallet</span></h1>
                        <div class="cat-btns">
                            <a href="" class="bttn-mid btn-fill">Signup now</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="last-winners">
                        <h4>Use individual wallet for</h4>
                        <div class="single-winner">
                            <div class="thumb">S</div>
                            <div class="content">
                                <p>Sending <span>Money</span> to your friends and family</p>
                            </div>
                        </div>
                        <div class="single-winner">
                            <div class="thumb">R</div>
                            <div class="content">
                                <p>Requesting <span>Money</span> from your friends and family</p>
                            </div>
                        </div>
                        <div class="single-winner">
                            <div class="thumb">R</div>
                            <div class="content">
                                <p>Receiving <span>Money</span> from your friends and family</p>
                            </div>
                        </div>
                        <div class="single-winner">
                            <div class="thumb">C</div>
                            <div class="content">
                                <p>Spending <span>Money</span> online securely with shadepay checkout</p>
                            </div>
                        </div>
                        <div class="single-winner">
                            <div class="thumb">W</div>
                            <div class="content">
                                <p>Withdraw <span>Money</span> instantly to your bank account</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/Call to action-->


    <!--Call to action-->
    <section class="section-padding-2 blue-bg-2 dots-before">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-6 mb-30">
                    <div class="call-to-action">
                        <h4>Want to save?</h4>
                        <h1>Saving<span>wallet</span></h1>
                        <div class="cat-btns">
                            <a href="" class="bttn-mid btn-fill">Signup now</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="last-winners">
                        <h4>Use saving wallet for</h4>
                        <div class="single-winner">
                            <div class="thumb">S</div>
                            <div class="content">
                                <p>Saving <span>Money</span> that you don't want to spend</p>
                            </div>
                        </div>
                        <div class="single-winner">
                            <div class="thumb">D</div>
                            <div class="content">
                                <p>Set <span>Date</span> for withdrwaing money from your wallet</p>
                            </div>
                        </div>
                        <div class="single-winner">
                            <div class="thumb">P</div>
                            <div class="content">
                                <p>Saving <span>Plans</span> for your required needs</p>
                            </div>
                        </div>
                        <div class="single-winner">
                            <div class="thumb">R</div>
                            <div class="content">
                                <p>Receiving <span>Money</span> with a link to your saving wallet</p>
                            </div>
                        </div>
                        <div class="single-winner">
                            <div class="thumb">W</div>
                            <div class="content">
                                <p>Withdraw <span>Money</span> instantly to your bank account</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/Call to action-->


       <!--Call to action-->
       <section class="section-padding-2 blue-bg dots-before">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-6 mb-30">
                    <div class="call-to-action">
                        <h4>Have a small, medium, or large business?</h4>
                        <h1>Business<span>wallet</span></h1>
                        <div class="cat-btns">
                            <a href="" class="bttn-mid btn-fill">Signup now</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="last-winners">
                        <h4>Use business wallet for</h4>
                        <div class="single-winner">
                            <div class="thumb">H</div>
                            <div class="content">
                                <p>Having access to all our <span>APIs</span> for development and automation</p>
                            </div>
                        </div>
                        <div class="single-winner">
                            <div class="thumb">W</div>
                            <div class="content">
                                <p>Withdraw <span>Money</span> instantly to your bank accounts</p>
                            </div>
                        </div>
                        <div class="single-winner">
                            <div class="thumb">R</div>
                            <div class="content">
                                <p>Receiving <span>Money</span> using shadepay links</p>
                            </div>
                        </div>
                        <div class="single-winner">
                            <div class="thumb">C</div>
                            <div class="content">
                                <p>Recieving <span>Money</span> using shadepay checkout</p>
                            </div>
                        </div>
                        <div class="single-winner">
                            <div class="thumb">I</div>
                            <div class="content">
                                <p>Transfer <span>Money</span> using <span>Shadepay Integrate</span> payment</p>
                            </div>
                        </div>
                        <div class="single-winner">
                            <div class="thumb">B</div>
                            <div class="content">
                                <p>Have <span>Billing</span> plans for your customers</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/Call to action-->

{% endblock %}